body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.main{
  color: whitesmoke;
  font-size: 80px;
  font-style: italic;
  margin-top: 10px;
  opacity: 72%;
}
.button{
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color:#d16b27;
  color: whitesmoke;
  padding: 30px 30px;
  width: 250px;
  border-radius: 40px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 100px;
}
.button:hover{
  background-color: #d14f27;
  transform: scale(1.1)
}
